./benchmarks/diffusion/tensorflow/stable_diffusion/inference/requirements.txt
./benchmarks/image_segmentation/tensorflow/3d_unet/requirements.txt
./benchmarks/language_modeling/tensorflow/bert_large_hf/inference/requirements.txt
./benchmarks/recommendation/tensorflow/wide_deep/inference/requirements.txt
./datasets/cloud_data_connector/dependencies/pypi/requirements.txt
./datasets/cloud_data_connector/requirements.txt
./datasets/cloud_data_connector/samples/azure/requirements.txt
./datasets/cloud_data_connector/samples/interoperability/requirements.txt
./datasets/dataset_api/requirements.txt
./docs/notebooks/low_precision_optimization/tensorflow/requirements.txt
./docs/notebooks/transfer_learning/requirements.txt
./models/diffusion/tensorflow/stable_diffusion/inference/requirements.txt
./models/graph_networks/tensorflow/graphsage/inference/requirements.txt
./models/language_modeling/tensorflow/bert_large/inference/requirements.txt
./models/language_modeling/tensorflow/bert_large/training/bfloat16/requirements.txt
./models/language_modeling/tensorflow/bert_large/training/fp16/requirements.txt
./models/language_modeling/tensorflow/bert_large/training/fp32/requirements.txt
./models_v2/pytorch/3d_unet/inference/gpu/requirements.txt
./models_v2/pytorch/bert_large/inference/gpu/requirements.txt
./models_v2/pytorch/bert_large/training/gpu/requirements.txt
./models_v2/pytorch/distilbert/inference/gpu/demo-data/requirements.txt
./models_v2/pytorch/distilbert/inference/gpu/requirements.txt
./models_v2/pytorch/dlrm/inference/cpu/requirements.txt
./models_v2/pytorch/dlrm/inference/gpu/requirements.txt
./models_v2/pytorch/dlrm/training/cpu/requirements.txt
./models_v2/pytorch/efficientnet/inference/gpu/requirements.txt
./models_v2/pytorch/fastpitch/inference/gpu/requirements.txt
./models_v2/pytorch/fbnet/inference/gpu/requirements.txt
./models_v2/pytorch/IFRNet/inference/gpu/requirements.txt
./models_v2/pytorch/resnet50v1_5/inference/gpu/requirements.txt
./models_v2/pytorch/resnet50v1_5/training/gpu/requirements.txt
./models_v2/pytorch/RIFE/inference/gpu/requirements.txt
./models_v2/pytorch/rnnt/inference/gpu/requirements.txt
./models_v2/pytorch/rnnt/training/cpu/requirements.txt
./models_v2/pytorch/rnnt/training/gpu/requirements.txt
./models_v2/pytorch/ssd-mobilenetv1/inference/gpu/requirements.txt
./models_v2/pytorch/stable_diffusion/inference/gpu/requirements.txt
./models_v2/pytorch/swin-transformer/inference/gpu/requirements.txt
./models_v2/pytorch/torchrec_dlrm/inference/gpu/requirements.txt
./models_v2/pytorch/unetpp/inference/gpu/requirements.txt
./models_v2/pytorch/yolov5/inference/gpu/requirements.txt
./models_v2/tensorflow/3d_unet/training/gpu/requirements.txt
./models_v2/tensorflow/bert_large/training/gpu/requirements.txt
./models_v2/tensorflow/maskrcnn/inference/gpu/requirements.txt
./models_v2/tensorflow/maskrcnn/training/gpu/requirements.txt
./models_v2/tensorflow/resnet50v1_5/inference/gpu/requirements.txt
./models_v2/tensorflow/resnet50v1_5/training/gpu/requirements.txt
./models_v2/tensorflow/stable_diffusion/inference/gpu/requirements.txt
./requirements.txt
